.bg-img {
    background-image: url(https://yashwantingle.com/static/App/undraw_contact_us_15o2.svg);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     position: relative;
     
     
 }